body{
    background: url(../img/fondo.png) no-repeat center center fixed;
    background-size: cover;
}
hr{
    background-color: #fff;
}
#login{
    margin-top: 4%;
    margin-left: 32%;
    margin-right: 32%;
}
#login form.log{
    width: 400px;
    text-align: center;
    margin: 0;
    margin-top: 25%;
    padding: 0;
}
#login form.registrar{
    width: 400px;
    text-align: center;
    margin: 0;
    margin-top: 5%;
    padding: 0;
}
label{
    color: #fff;
}
#logindatos{
    border: none;
    margin-top: 5px;
    border-radius: 10px;
    padding-bottom: 15px;
}
#login .img{
    margin: 18px;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 0px;
}
.terminos{
    display: inline;
}
p.terminos{
    font-size: 15px;
    color: #fff;
}
.regist{
    color: rgb(88, 88, 255);
}
.regist:hover{
    color: skyblue;
}
#login input{
    border-radius: 15px;
    width: 300px;
    height: 35px;
    margin: 10px;
}
#login input.terminos{
    width: 20px;
    height: 20px;
}
.control{
    padding-left: 45px;
    font-size: 18px;
}
.control2{
    padding-left: 15px;
    font-size: 15px;
}
#boton{
    background-color: rgba(164,179,87,1);
    border-radius: 15px;
    width: 150px;
    height: 40px;
    color: #fff;
    font-family: Century Gothic;
    margin-top: 3px;
    margin-left: 15px;
}
.formdatos{
    color: #fff;
    background-color: #fff;
}
.formdatos form{
    width: 900px;
    height: 400px;
    border-radius: 15px;
    padding: 22px;
    margin: 20px auto;
}
.formdatos fieldset{
    font-family: Century Gothic;
    padding: 12px;
    float: left;
    width: 50%;
    margin-top: 5px;
    border-radius: 10px;
    height: 200px;
    margin-left: 25%;
}
.formdatos img{
    float: left;
    width: 90px;
    height: 70px;
    border-radius: 10px;
    margin: 0px 22px;
}
.formdatos button{
    margin-top: 3px;
    margin-left: 830px;
}
.formdatos p{
    margin-top: 15%;
    padding-bottom: 15%;
    font-size: 48px;
    text-align: center;
}
#formdatos input{
    border-radius: 15px;
    width: 300px;
    height: 35px;
    margin: 10px;
}
#formdatos input.terminos{
    width: 20px;
    height: 20px;
}
form{
    font-family: Century Gothic;
    background-color: rgba(76,76,76,1);
    box-shadow: 10px 10px 112px 0px rgba(0,0,0,0.75);
    box-shadow: -webkit-linear-gradient(10px 10px 112px 0px rgba(0,0,0,0.75));
    box-shadow: -moz-linear-gradient(10px 10px 112px 0px rgba(0,0,0,0.75));
    box-shadow: -o-linear-gradient(10px 10px 112px 0px rgba(0,0,0,0.75));
    box-shadow: linear-gradient(10px 10px 112px 0px rgba(0,0,0,0.75));
}
:required{
    border-radius: 15px;
    box-shadow: 0px 0px 5px #808080;
}
:invalid{
    border-radius: 15px;
    border-color: rgba(164,179,87,1);
}
h1{
    padding-top: 6px;
    color: #fff;
}