$theme-colors: (
  "primary": #3449ff
);

//iconos
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v54/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}
  
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    text-align: center;
    display: block;
}

.current{
    border-bottom-width: 10px;
    border-color: white;
}

span{
    color:rgb(7, 7, 255);
    pointer-events: all;
}

span:hover{
    color:rgb(0, 0, 155);
    text-decoration: underline;
}

@media (max-width: 1000px){
    .row{
        display: block;
        
        .card{
            margin-top: 5%;
        }
    }
}

@media (max-width: 500px){
    .row{
        display: block;
        
        .card{
            margin-top: 5%;
        }
    }
}

@media (max-width: 250px){
    .row{
        display: block;
        
        .card{
            margin-top: 5%;
        }
    }
}