$fontcolor: rgb(226,226,226);
$bgColor: lighten(#3449ff, 1%);
//ediciones generales
*{	
    margin:0;
    padding:0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: $bgColor;
    color: $fontcolor;

    .logo{
        color: $fontcolor;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 20px;
    }

    .nav-links{
        height: 100%;
        display: flex;
        justify-content: space-around;
        width: 30%;
        a{  
            padding-top:2vh;
            width: 7rem;
            display: flex;
            color:$fontcolor;
            text-decoration: none;
            letter-spacing: 1.5px;
            font-size:14px;

            i{
                pointer-events: none;
                display: inline-block;
            }
        }

        li{
            list-style: none;
        }
    }

    i{
        display: block;
    }
    
    .burger{
        display: none;
        div{
            width: 25px;
            height: 2.5px;
            background-color: $fontcolor;
            margin: 5px;
            transition: all 0.3s ease;
        }
    }
    
}
@media screen and (max-width:1024px){
    nav{
        .nav-links{
            width: 45%;
            a{
                width: 6rem;
            }
        }
    }
}
@media screen and ( max-width:768px){
    body{
        overflow-x: hidden;
    }
    nav{
        .nav-links{
            position: absolute;
            left:0;
            height: 92vh;
            top: 8vh;
            background-color: darken(#fff,5%);
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            align-items: right;
            z-index: 1000;
            width: 45%;
            transform:translateX(-100%);
            transition: transform 0.5s ease;
            a{
                letter-spacing: 3px;
                font-size: 16px;
                color: black;
                i{
                    margin-right: 8%;
                }
            }
            
            li{
                margin-left: 12%;
                opacity: 0;
            }
        }

        .burger{
            display: block;
            cursor: pointer;
        }
        .toggle .line1{
            transform: rotate(-45deg) translate(-5px,6px);    
        }
        .toggle .line2{
            opacity: 0;
        }
        .toggle .line3{
            transform: rotate(45deg) translate(-5px,-6px);    
        }
    }
    nav{
        .nav-active{
            transform:translateX(0%);
        }
    }
}

@media screen and ( max-width:360px){
    body{
        overflow-x: hidden;
    }
    nav{
        .nav-links{
            position: absolute;
            left:0;
            height: 92vh;
            top: 8vh;
            background-color: darken(#fff,5%);
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            align-items: right;
            z-index: 1000;
            width: 50%;
            transform:translateX(-50%);
            transition: transform 0.5s ease;
            
            a{
                letter-spacing: 3px;
                font-size: 16px;
                color: black;
                i{
                    margin-right: 8%;
                }
            }
            
            li{
                margin-left: 6%;
                opacity: 0;
            }
        }

        .burger{
            display: block;
            cursor: pointer;
        }
        .toggle .line1{
            transform: rotate(-45deg) translate(-5px,6px);    
        }
        .toggle .line2{
            opacity: 0;
        }
        .toggle .line3{
            transform: rotate(45deg) translate(-5px,-6px);    
        }
    }
    nav{
        .nav-active{
            transform:translateX(0%);
        }
    }
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(-50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes navLinkFadeOut{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        transform: translateX(-50px);
    }
}


//iconos
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v54/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}
  
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
}